{% extends "../files/site.html" %}

{% block title %}Change Password{% endblock title %}

{% block body %}
    <h1>Change Password</h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Update</button>
            <input type="hidden" name="next" value="{% url "login" %}" />
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <p><a href="{% url "index" %}">Back to Index</a></p>
{% endblock body %}
