{% extends "files/site.html" %}

{% block title %}File Detail{% endblock title %}

{% block body %}
    <p>File Name: {{ file.name }}</p>
    <p>File Type: {{ file.file_type }}</p>
    <p>Upload timestamp: {{ file.upload_timestamp }}</p>

    <form action="{% url "edit" file.id %}" method="POST">
        {% csrf_token %}
        <label for="name">Update File Name: </label><input type="text" name="name" id="name" placeholder="example.txt">
        <label for="type">Update File Type: </label><input type="text" name="type" id="type" placeholder=".txt">
        <p><button>Update</button></p>
    </form>
    <form action="{% url "delete" file.id %}"><button>Delete</button></form>
    <a href="{% url "files" %}">back to all files.</a>
{% endblock body %}