{% extends "files/site.html" %}

{% block title %}File Detail{% endblock title %}

{% block body %}
    <p>File Name: {{ file.name }}</p>
    <p>Upload timestamp: {{ file.upload_timestamp }}</p>
    <p>Click here to view <a href={{ file.file.url }} target="_blank">file</a>.</p>
    <p>Click here to <a href={{ file.file.url }} download >download</a>.</p>

    <form action="{% url "edit" file.id %}" method="POST">
        {% csrf_token %}
        <label for="name">Update File Name: </label><input type="text" name="name" id="name" placeholder="example.txt">
        <p><button>Update</button></p>
    </form>
    <form action="{% url "delete" file.id %}"><button>Delete</button></form>
    <a href="{% url "files" %}">back to all files.</a>
{% endblock body %}