{% extends "files/site.html" %}

{% block title %}Files Title{% endblock title %}

{% block body %}
{% if user.is_authenticated %}
{% include "../registration/logout.html" %}
    <p>Hi {{ user.username }}!</p>

    {% if data %}
        <ul>
            {% for d in data%}
            <li><a href="{% url "file" d.id %}">{{ d.name }}</a></li>
            {% endfor%}
        </ul>
    {% else %}
        <p>No data</p>
    {% endif %}
    <p><a href="{% url "upload" %}">Upload New File</a></p>
    <p><a href="{% url 'password_change' %}">Password Change</a></p>

{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif%}
{% endblock body %}